<h1>Add a New Ski Maker!</h1>

<form action="/ski_makers" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="companyname">Company Name:</label><br>
  <input type="text" id="companyname" name="ski_maker[company_name]"><br>

  <label for="yearsactive">Years Active:</label><br>
  <input type="integer" id="yearsactive" name="ski_maker[years_active]"><br>

  <label for="snowboards">Do They Make Snowboards? (true or false):</label><br>
  <input type="boolean" id="snowboards" name="ski_maker[makes_snowboards]"><br>

  <input type="submit" value="Add Ski Maker"/>


</form>
