<h1>Add a Pair of Skis to This Ski Maker</h1>


<form action="/ski_makers/<%= @ski_maker.id %>/skis/" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="modelname">Model Name:</label><br>
  <input type="text" id="modelname" name="ski[model]"><br>

  <label for="skitype">Ski Type:</label><br>
  <input type="text" id="=skitype" name="ski[ski_type]"><br>

  <label for="longest">Longest Offered Ski (cm):</label><br>
  <input type="integer" id="longest" name="ski[longest_offered_cm]"><br>

  <label for="symmetrical">Is This Ski 100% Symmetrical (true or false):</label><br>
  <input type="boolean" id="symmetrical" name="ski[symmetrical]"><br>


  <input type="submit" value="Create Skis"/>


</form>
